html, body {
    height: 100%;
    min-height: 100%;
}
body {
    margin: 0;

    font-family: sans-serif;

    overflow: hidden;
}

.full-width { width: 100%; }
.full-height { height: 100%; }

.taxatree-wrapper, .map-wrapper {
    overflow: hidden !important;
}

.taxatree-wrapper {
    cursor: pointer;

    /* Plugin overrides */
    z-index: 10 !important;
}


.filter {
    display: inline-block;
    width: 100%;
    max-width: 250px;

    border-style: solid;
    border-width: 3px;

    margin-bottom: 5px;
}
.filters-wrapper {
    padding: 10px 15px;

    box-sizing: border-box;
    overflow: auto;
}


/* controls and settings */
.date-range-wrapper {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 80px;

    margin: 15px;
}
.date-range { height: 100%; }
.select2-container { width: 100% !important; }
.select2-selection__rendered { white-space: normal !important; }


/* resizeable components */
.split-pane-component {
    box-sizing: border-box;
    z-index: 1;
}

.split-pane-divider.horizontal {
    height: 3px;
    width: 100%;
}

.split-pane-divider.vertical {
    width: 3px;
    height: 100%;
    left: 250px;
}

.split-pane-divider {
    border: 1px solid black;
    background-color: gray;

    /* Plugin override */
    z-index: 20 !important;
}


/* initial panel sizing */
.taxatree-wrapper {
    min-height: 100px;
}

.main-panel {
    top: 100px;
    margin-top: 3px;
}

.filters-wrapper {
    width: 250px;
    min-width: 250px;
}

.map-wrapper {
    left: 250px;
    margin-left: 3px;
}

/* control panel */
.control-panel {
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;

    padding: 10px;

    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    z-index: 20;
}
.control-panel-toolbar {
    height: 25px;

    margin-bottom: 10px;
}
.control-panel-toolbar > * {
    display: inline-block;
    width: 25px;
    height: 25px;

    margin-right: 10px;

    cursor: pointer;
}
.control-panel-submenu {
    width: auto;

    border: 1px solid #CCC;
    border-radius: 3px;

    background-color: rgba(255, 255, 255, 0.5);
    cursor: default;
}
.control-panel-submenu > * {
    display: inline-block;
    height: 100%;

    padding: 3px;

    border: 1px solid #CCC;

    cursor: pointer;
    opacity: 0.8;

    box-sizing: border-box;
}
.control-panel-submenu > *:active,
.control-panel-submenu > .active {
    border: 1px solid cadetblue;
    opacity: 1;
}
.control-panel-submenu > .active {
    background-color: #FFF;
}
.control-panel.hidden {
    height: 25px;
    bottom: auto;
    right: auto;
}

.control-panel.hidden .control-panel-controls { display: none; }

.loader-wrapper {
    display: none;
    position: absolute;
    bottom: 20px;
    width: 100%;

    margin: 0 auto;

    pointer-events: none;
}
.map-wrapper.loading .loader-wrapper {
    display: block;
}

.taxonomy-select {
    max-height: 100px; /* 25px * # rows */

    overflow: auto;
}
.species-color-block {
    display: inline-block;
    width: 10px;
    height: 10px;
}

/* map view */
.lasso-overlay {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}
.lasso-overlay.active { pointer-events: all; }
.lasso-overlay circle.origin {
    fill: #CCC;
    r: 5;
}
.lasso-overlay path.drawn {
    fill: rgba(255,255,255,0.5);
    stroke: white;
    stroke-dasharray: 10;
    stroke-width: 2px;
}

.map-overlay.lasso-active .sample  circle {
    opacity: 0.6 !important;
}
.sample.lasso-possible  circle,
.sample.lasso-selected  circle {
    opacity: 1 !important;
    stroke: #FFF !important;
    stroke-width: 3 !important;
}
.map-overlay.lasso-active .sample.lasso-selected:not(.lasso-possible) circle {
    stroke: #000 !important;
}
@keyframes dash {
    from { stroke-dashoffset: 0; }
    to { stroke-dashoffset: 1000; }
}
.sample.lasso-selected  circle {
    stroke-dasharray: 5;
    animation: dash 60s linear infinite;
}

.map-overlay { position: absolute; }
.map-overlay svg {
    position: absolute;
    width: 1px;
    height: 1px;

    cursor: default;
    overflow: visible;
}
