path {
    fill: none;
    stroke: #05668D;
    opacity: 0.6;
    stroke-width: 2px;
}

.taxa.tooltip {
    position: absolute;
    background-color: white;
    border: 2px solid black;
    border-radius: 4px;
}

#map {
    width: 100%;
    height: 100%;
}

#filters .hmap {
    display: inline-block;
    /* border: 1px solid black; */
    width: 10px;
    height: 100px;
    margin: 4px;
}

#filters .plot {
    display: inline-block;
    /* border: 1px solid black; */
    width: 150px;
    height: 100px;
    margin: 4px;
}

/* #filters .focus { */
/*     border-width: 4px; */
/* } */

#filters svg {
    width: 100%;
    height: 100%;
    overflow: visible;
}

select.taxa {
    height: 20cm;
}



html, body {
    height: 100%;
    min-height: 100%;
}
body {
    margin: 0;

    font-family: sans-serif;

    overflow: hidden;
}

.full-width { width: 100%; }
.full-height { height: 100%; }

.taxatree-wrapper, .map-wrapper {
    overflow: hidden !important;
}

.taxatree-wrapper {
    cursor: pointer;

    /* Plugin overrides */
    z-index: 10 !important;
}


.filter {
    display: inline-block;
    width: 100%;
    max-width: 250px;

    border-style: solid;
    border-width: 3px;

    margin-bottom: 5px;
}
.filters-wrapper {
    padding: 10px 15px;

    box-sizing: border-box;
    overflow: auto;
}


/* controls and settings */
.date-range-wrapper {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 80px;

    margin: 15px;
}
.date-range { height: 100%; }
.select2-container { width: 100% !important; }
.select2-selection__rendered { white-space: normal !important; }


/* resizeable components */
.split-pane-component {
    box-sizing: border-box;
    z-index: 1;
}

.split-pane-divider.horizontal {
    height: 3px;
    width: 100%;
}

.split-pane-divider.vertical {
    width: 3px;
    height: 100%;
    left: 250px;
}

.split-pane-divider {
    border: 1px solid black;
    background-color: gray;

    /* Plugin override */
    z-index: 20 !important;
}


/* initial panel sizing */
.taxatree-wrapper {
    min-height: 150px;
}

.main-panel {
    top: 150px;
    margin-top: 3px;
}

.filters-wrapper {
    width: 250px;
    min-width: 250px;
}

.map-wrapper {
    left: 250px;
    margin-left: 3px;
}

/* control panel */
.control-panel {
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;

    padding: 10px;

    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    z-index: 20;
}
.control-panel.hidden {
    top: auto;
    right: auto;
    width: 25px;
    height: 25px;
}

.control-panel.hidden .control-panel-controls { display: none; }

.control-panel-toggle {
    position: absolute;
    width: 25px;
    height: 25px;
    bottom: 10px;
    left: 10px;

    cursor: pointer;
}
.control-panel-toggle > img {
    width: 100%;
    height: 100%;
}

/* map view */
.map-overlay { position: absolute; }
.map-overlay svg {
    position: absolute;
    width: 1px;
    height: 1px;

    cursor: default;
    overflow: visible;
}
